:root {
  --color-1: #ccd5ae;
  --color-2: #e9edc9;
  --color-3: #fefae0;
  --color-4: #faedcd;
  --color-5: #faedcd;
  --color-6: #d4a373;
  --color-7: #463f3a;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--color-3);
  display: flex;
  justify-content: center;
}

.container {
  width: 960px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-1);
}

h1 {
  color: var(--color-7);
  margin-left: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  font-size: 20px;
  color: var(--color-7);
  text-decoration: none;
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 8px;
}

.nav-links a:hover {
  background-color: var(--color-3);
}

main {
  font-size: 24px;
}

#profile-photo {
  float: right;
  width: 250px;
  margin: 10px;
}

#course-container {
  display: flex;
  justify-content: space-between;
  height: auto;
}

#course-header {
  text-align: center;
}

.course-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  border: 1px solid black;
  margin: 20px 0;
  width: 25%;
}

.course-card--header {
  background-color: var(--color-6);
  margin: 0;
  position: relative;
  width: 80%;
  top: -30px;
  border: 1px solid black;
  z-index: 2;
  text-align: center;
}

.course-card--main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.course-card--btn {
  background-color: var(--color-5);
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px 60px;
}

.course-card--btn:hover {
  background-color: var(--color-6);
  cursor: pointer;
}

.question-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 20px;
  margin-top: 10px;
}

#contact-me--header {
  text-align: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px auto;
  width: 60%;
}

#contact-form input[type='text'] {
  font-size: 20px;
  padding: 15px;
  margin-bottom: 20px;
}

#contact-form textarea {
  font-size: 20px;
  padding: 15px;
}

#contact-form--btn {
  font-size: 20px;
  padding: 15px;
  margin-top: 20px;
}
