:root {
  --color-1: #ccd5ae;
  --color-2: #e9edc9;
  --color-3: #fefae0;
  --color-4: #faedcd;
  --color-5: #faedcd;
  --color-6: #d4a373;
  --color-7: #463f3a;
}

body {
  font-family: 'Cormorant Garamond', serif;
  background: var(--color-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 960px;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-1);
  border-radius: 5px;
}

.title {
  margin: 20px 0 20px 20px;
  color: var(--color-7);
}

h1 {
  margin: 0;
  font-size: 32px;
}

.title-subheading {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  font-size: 20px;
  color: var(--color-7);
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 10px;
}

.nav-links a:hover {
  background-color: var(--color-3);
  transform: translateY(-2px);
  border-radius: 5px;
}

main {
  font-size: 24px;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-7);
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.main-header h2 {
  margin: 40px 20px;
}

.line-decoration {
  width: 20%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--color-1);
}

#profile-photo {
  border: 8px solid var(--color-1);
  border-radius: 5px;
  float: right;
  width: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: 0 100%;
}

/* ---------- Reviews Section ---------- */

#reviews__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviews__section h2 {
  color: var(--color-7);
}

.reviews__container {
  background-color: var(--color-4);
  padding: 20px 20px 15px 20px;
  border-radius: 5px;
}

.review__heading {
  display: flex;
  justify-content: space-between;
}

.review--name {
  font-size: 1.7rem;
  margin: 0;
}

.review--date {
  font-size: 1.2rem;
  height: 100%;
  margin: auto 0;
}

.review--message {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0 0 0;
}

#review--btn {
  font-size: 1rem;
  background-color: var(--color-2);
  border: 3px solid var(--color-3);
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px;
}

#review--btn:hover {
  border: 3px solid var(--color-6);
  cursor: pointer;
}

/* ---------- Courses Section ---------- */

#course-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  height: auto;
}

.course-card {
  background-color: var(--color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px 0;
  width: 25%;
}

.course-card--header {
  background-color: var(--color-6);
  margin: 0;
  position: relative;
  width: 80%;
  top: -30px;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 2;
  text-align: center;
}

.course-card--main ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
  font-size: 16px;
  margin: 0 10px;
  padding: 0;
}

.line-break {
  width: 90%;
  height: 1px;
  background-color: var(--color-6);
  margin: 10px auto;
}

.course-card--btn {
  background-color: var(--color-3);
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px 60px;
}

.course-card--btn:hover {
  background-color: var(--color-6);
  cursor: pointer;
}

/* ---------- FAQ's Section ---------- */

#accordion .ui-accordion-header {
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--color-2);
  padding: 20px;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 1.5rem;
  font-weight: 100;
}

#accordion .ui-accordion-header:hover {
  cursor: pointer;
}

#accordion .ui-accordion-content {
  font-size: 1.4rem;
  padding: 15px;
}

#accordion p {
  margin: 0;
}

/* ---------- Contact Me Section ---------- */

#contactMeForm {
  margin: 0 auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
}

fieldset > p {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

#country_selector {
  width: 580px;
  border-radius: 5px;
}

legend {
  border: none;
}

input {
  border: 3px solid var(--color-1);
  border-radius: 5px;
  width: 550px;
  height: 40px;
  font-size: 1.2rem;
  padding: 0 10px;
}

input:focus {
  outline: none;
  border: 3px solid var(--color-7);
}

textarea {
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  font-size: 1.2rem;
  border: 3px solid var(--color-1);
  width: 550px;
  padding: 10px;
}

textarea:focus {
  outline: none;
  border: 3px solid var(--color-7);
}

.submit {
  background-color: var(--color-6);
  border: 3px solid var(--color-6);
  width: 550px;
  margin: 0;
}

.submit:hover {
  cursor: pointer;
  border: 3px solid var(--color-7);
}

div.error {
  color: red;
  font-size: 1rem;
}

/*------------------------- Footer -------------------------*/

footer {
  text-align: center;
  /* margin: 0 50px; */
  margin: 300px 50px;
  bottom: 0;
}

/*------------------------- Google Fonts -------------------------*/
.roboto-thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
}

.cormorant-garamond-light {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-garamond-light-italic {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  font-style: italic;
}

.cormorant-garamond-regular {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-regular-italic {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-garamond-medium {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond-medium-italic {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-style: italic;
}

.cormorant-garamond-semibold {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-garamond-semibold-italic {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-style: italic;
}

.cormorant-garamond-bold {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-bold-italic {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-style: italic;
}
